@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: 99 102 241;
  --color-secondary: 19 17 53;
  --color-gray: 150 149 185;
  --color-yellow: 245 219 10;
  --color-lightGray: 62 60 91;
  --color-lightPurple: 56 46 113;
  --color-violet: 42 32 93;
  --color-purple: 31 29 80;
  --color-success: 45 249 177;
  --color-green: 0 131 85;
  --color-violet: 42 32 93;
}
.bg-primary {
  background-color: rgb(var(--color-primary));
}
.text-primary {
  color: rgb(var(--color-primary));
}
.bg-secondary {
  background-color: rgb(var(--color-secondary));
}
.text-secondary {
  color: rgb(var(--color-secondary));
}
